In [1]:
import mysql.connector
from mysql.connector import Error
%pylab inline 
import numpy as np
import csv

Populating the interactive namespace from numpy and matplotlib

# Mysql belépés terminálból

-  mysql -u root -p
- password

## Alap parancsok:

- show databeses;
- show tables;
- use 'database';

### Ezután az adaott adatbázisban minden ugyan ugy működik mint, ahigy tanultuk.

# Adatbázis létrehozása

### MySql 
CREATE DATABASE "pelda"

## Python

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost')

# creating database_cursor to perform SQL operation
db_cursor = db_connection.cursor()

In [ ]:
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

In [ ]:
# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE pelda")

In [ ]:
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

# Tábla létrehozása

## MySql
CREATE TABLE potluck (id INT NOT NULL PRIMARY KEY AUTO_INCREMENT, name VARCHAR(20),food VARCHAR(30),confirmed CHAR(1), signup_date DATE);

## Python

In [ ]:
tb_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                        database='pelda') 

# creating database_cursor to perform SQL operation
tb_cursor = tb_connection.cursor()

In [ ]:
tb_cursor.execute("SHOW TABLES")
#print all databases
for tb in tb_cursor:
    print(tb)

In [ ]:
# executing cursor with execute method and pass SQL query
tb_cursor.execute("CREATE TABLE adatok (signal_number INT NOT NULL PRIMARY KEY AUTO_INCREMENT, name VARCHAR(20),signal_value INT,unit VARCHAR(8))")

In [ ]:
tb_cursor.execute("SHOW TABLES")
#print all databases
for tb in tb_cursor:
    print(tb)

In [ ]:
tb_cursor.execute("DESCRIBE adatok")
#describe all databases
for tb in tb_cursor:
    print(tb)

# Sor hozzáadása

## MySql
INSERT INTO `adatok` (`signal_number`,`name`,`unit`) VALUES (NULL, 'Livingroom_temp','C')

### A "sign_date" -et nem kell megadnom azt automatikusan kitölti, hiszen beállítottuk.

# Python

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                        database='pelda')
in_cursor = in_connection.cursor()

In [ ]:
in_cursor.execute('SELECT * FROM adatok')
#print all
for i in in_cursor:
    print(i)

In [ ]:
first = "INSERT INTO `adatok` (`signal_number`,`name`, `signal_value`,`unit`) VALUES (NULL,'Livingroom','20','C')"
#Ha így adom meg a sort, akkor be kell írnom a NULL értéket az automatikus kitöltéshez.
in_cursor.execute(first)
in_connection.commit()
print(in_cursor.rowcount, "Record Inserted")

In [ ]:
in_cursor.execute('SELECT * FROM adatok')
#print all
for i in in_cursor:
    print(i)

# Sok adat beolvasása egyszerre array formában

In [ ]:
connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                             database='pelda')

In [ ]:
new = [('2', 'Livingroom','20','C'),
        ('3', 'Bathroom','30','C'),
        ('4', 'Livingroom','23','C'),
        ('5', 'Livingroom','20','C'),
        ('6', 'Bathroom','30','C'),
        ('7', 'Livingroom','23','C')]
cursor = connection.cursor()
cursor.executemany('''insert into adatok (`signal_number`,`name`, `signal_value`,`unit`)
                      values (%s,%s, %s,%s)''', new)
connection.commit()

In [ ]:
cursor.execute('SELECT * FROM adatok')
#print all databases
for i in cursor:
    print(i)

# Más módja automatizálásoz
## Függvény formában

In [ ]:
def insertVariblesIntoTable(signal_number,name, signal_value,unit):
    try:
        connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                             database='pelda')
        cursor = connection.cursor()        
        
        mySql_insert_query = """INSERT INTO adatok (signal_number,name,signal_value,unit) 
                                VALUES (%s, %s,%s, %s)"""

        recordTuple = (signal_number,name, signal_value,unit)
        cursor.execute(mySql_insert_query, recordTuple)
        connection.commit()
        print("Record inserted successfully into adatok table")

    except mysql.connector.Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if (connection.is_connected()):
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [ ]:
insertVariblesIntoTable(666,'Bathroom', 7000,'C')

In [ ]:
connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                     database='pelda')

cursor = connection.cursor()
cursor.execute('SELECT * FROM adatok')
#print all databases
for i in cursor:
    print(i)

# Python
### Függvényként

- Parancssorból töröljük az adatokat, mert összekutyulódhat;

In [ ]:
def inserter(file_name):
    connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                                 database='pelda')

    cursor = connection.cursor()
    with open(file_name) as f:
        reader = csv.reader(f)
        for row in reader:
            cursor.execute("""INSERT INTO adatok (signal_number,name,signal_value,unit) 
                                    VALUES (%s, %s,%s, %s)""", row)

    
    connection.commit()
    cursor.close()
    print ("Done")

In [ ]:
inserter('proba.txt')

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                        database='pelda')
in_cursor = in_connection.cursor()
in_cursor.execute('SELECT * FROM adatok')
#print all databases
for i in in_cursor:
    print(i)

# MySql 
# Adat beolvasása fileból

### Ha nem a file -t tartalmazó mappából nyitottuk meg a MySql-t:

- LOAD DATA LOCAL INFILE '/home/tomi/Dokumentumok/ELTE/projects/adatbazis/proba2.txt' INTO TABLE adatok FIELDS    TERMINATED BY ',' LINES TERMINATED BY '\n';

### Ha a file -t tartalmazó mappából nyitottuk meg a MySql-t:

- LOAD DATA LOCAL INFILE 'proba2.txt' INTO TABLE adatok FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n';

### !! Meg kell adni, hogy mivel vannak elválasztva egymástól az oszlopok és egymástól a sorok !!

## Hibaüvenet lehet:

### 1148 (42000): The used command is not allowed with this MySQL version.

#### HIba orvoslása:

- Ezt parancssorból: show global variables like 'local_infile';
- Majd beállítom : set global local_infile=true;

# Mindez Pythonban

- figyelni kell, hogy az 'allow_local_infile=True' be legyen állítva

### A python külön packege-t használ a mysql-hez 

- ami parancssorból működik az itt nem biztos

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda', allow_local_infile=True)


in_cursor = in_connection.cursor()
first = "LOAD DATA LOCAL INFILE 'proba2.txt' INTO TABLE adatok FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'"
in_cursor.execute(first)
in_connection.commit()
print(in_cursor.rowcount, "Record Inserted")

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')
in_cursor = in_connection.cursor()

in_cursor.execute('SELECT * FROM adatok')
#print all databases
for i in in_cursor:
    print(i)

# Adat törlése

## MySql
Delete from adatok WHERE name = 'Livingroom';

## Python

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',
                                            host='localhost',database='pelda')


in_cursor = in_connection.cursor()
first = "Delete from adatok WHERE name = 'Livingroom'"
in_cursor.execute(first)
in_connection.commit()
print(in_cursor.rowcount, "Record Deleted")

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                        database='pelda')

in_cursor = in_connection.cursor()
in_cursor.execute('SELECT * FROM adatok')
#print all databases
for i in in_cursor:
    print(i)

# Tábla törlése

## MySql
DROP TABLE potluck;

## Python

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',
                                        database='pelda')
db_cursor = db_connection.cursor()

first = "DROP TABLE adatok"
db_cursor.execute(first)
db_connection.commit()

In [ ]:
db_cursor.execute("SHOW TABLES")
#print all databases
for db in db_cursor:
        print(db)

# Adatbázis törlése

## MySql
DROP DATABASE my_first_db;

## Python

In [2]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost')
db_cursor = db_connection.cursor()
first = "DROP DATABASE pelda"
db_cursor.execute(first)
db_connection.commit()

DatabaseError: 1008 (HY000): Can't drop database 'pelda'; database doesn't exist

In [3]:
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

# Adatok kimentése munkához

## MySql

- alap beállításként egy bizonyos helyre ment a program ez megtekinthető:

###### SELECT @@global.secure_file_priv;

- A mentést ide kell irányítani, ha nem akarjuk átállítani:

- Ki kell választani az adatbázist " USE 'database' ". 

### SELECT * FROM adatok WHERE name = 'Livingroom'  INTO OUTFILE '/var/lib/mysql-files/cancelled_orders.dat' FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n';

- Mindegy milyen kiterjesztéssal mentjük el.

- Az adatok formályát meg kell adnom.

# Kimentés függvényként

In [ ]:
def basics_ask(what_you_want):
    in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',
                                                host='localhost',database='pelda')


    in_cursor = in_connection.cursor()
    in_cursor.execute(what_you_want)
    #in_connection.commit()--- itt nem kell commit-olni hiszen nem volt változtatás
    
    for i in in_cursor:
        print(i)
    in_cursor.close()

In [ ]:
basics_ask("SELECT * FROM adatok WHERE name = 'Livingroom' INTO OUTFILE '/var/lib/mysql-files/cancelled_orders.txt' FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n'")

### Függvényként egyszerűbben

- A speciális karakterek eltávolításához regex pacgage -t használom.

In [ ]:
def basics_asking(what_you_want, filename):
    in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',
                                                host='localhost',database='pelda')


    in_cursor = in_connection.cursor()
    in_cursor.execute(what_you_want)
    #in_connection.commit()--- itt nem kell commit-olni hiszen nem volt változtatás
    f= open(filename,"a+")
    for i in in_cursor:
        f.write(re.sub("([^a-zA-Z0-9\s\n]+)", '', str(i)+'\n'))
        
    in_cursor.close()

In [ ]:
basics_asking("select * from adatok where signal_value = '30'", "probaljukki.txt")

Végrehajtó függvény

In [ ]:
def basics_do(what_you_want):
    in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',
                                                host='localhost',database='pelda')


    in_cursor = in_connection.cursor()
    in_cursor.execute(what_you_want)
    in_connection.commit()
    
    for i in in_cursor:
        print(i)
    in_cursor.close()

In [ ]:
basics_do("INSERT INTO `adatok` (`signal_number`,`name`, `signal_value`,`unit`) VALUES (NULL,'Livingroom','20','C')")

In [ ]:
basics_do("Delete from adatok WHERE name = 'Livingroom'")