In [ ]:
import mysql.connector

# Adatbázis létrehozása

### MySql 
CREATE DATABASE "pelda"

## Python

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost')

# creating database_cursor to perform SQL operation
db_cursor = db_connection.cursor()
# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE pelda")

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost')
db_cursor = db_connection.cursor()
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

# Tábla létrehozása

## MySql
CREATE TABLE potluck (id INT NOT NULL PRIMARY KEY AUTO_INCREMENT, name VARCHAR(20),food VARCHAR(30),confirmed CHAR(1), signup_date DATE);

## Python

In [ ]:
tb_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda') 

# creating database_cursor to perform SQL operation
tb_cursor = tb_connection.cursor()
# executing cursor with execute method and pass SQL query
tb_cursor.execute("CREATE TABLE adatok (signal_number INT NOT NULL PRIMARY KEY AUTO_INCREMENT, name VARCHAR(20),unit VARCHAR(8), sign_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP)")

In [ ]:
tb_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')
tb_cursor = tb_connection.cursor()
tb_cursor.execute("DESCRIBE adatok")
#print all databases
for tb in tb_cursor:
    print(tb)

# Sor hozzáadása

## MySql
INSERT INTO `adatok` (`signal_number`,`name`,`unit`) VALUES (NULL, 'Livingroom_temp','C')

### A sign_date-et nem kell megadnom azt automatikusan kitölti.

# Python

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')


in_cursor = in_connection.cursor()
first = "INSERT INTO `adatok` (`signal_number`,`name`,`unit`) VALUES (NULL, 'Livingroom_temp','C')"
in_cursor.execute(first)
in_connection.commit()
print(in_cursor.rowcount, "Record Inserted")

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')
in_cursor = in_connection.cursor()

in_cursor.execute('SELECT * FROM adatok')
#print all databases
for i in in_cursor:
    print(i)

# Adat törlése

## MySql
Delete from adatok WHERE name = 'Livingroom_temp';

## Python

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')


in_cursor = in_connection.cursor()
first = "Delete from adatok WHERE name = 'Livingroom_temp'"
in_cursor.execute(first)
in_connection.commit()
print(in_cursor.rowcount, "Record Deleted")

In [ ]:
in_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')
in_cursor = in_connection.cursor()

in_cursor.execute('SELECT * FROM adatok')
#print all databases
for i in in_cursor:
    print(i)

# Tábla törlése

## MySql
DROP TABLE potluck;

## Python

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')
db_cursor = db_connection.cursor()
first = "DROP TABLE adatok"
db_cursor.execute(first)
db_connection.commit()

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost',database='pelda')

db_cursor = db_connection.cursor()
db_cursor.execute("SHOW TABLES")
#print all databases
for db in db_cursor:
    print(db)

# Adatbázis törlése

## MySql
DROP DATABASE my_first_db;

## Python

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost')
db_cursor = db_connection.cursor()
first = "DROP DATABASE pelda"
db_cursor.execute(first)
db_connection.commit()

In [ ]:
db_connection = mysql.connector.connect(user='root', password='Straight666*>;32HZ',host='localhost')

db_cursor = db_connection.cursor()
db_cursor.execute("SHOW DATABASES")
#print all databases
for db in db_cursor:
    print(db)

# Példaprogram

In [6]:
place = ["Livingroom", "Bathroom", "Bedroom", "Toilett"]
dat = ["temp","co2"]
randrange()

NameError: name 'randrange' is not defined